<div class="fs-sm mt20">
	<p class="title is-4 mb40">
		よくある質問
	</p>
	<p class="subtitle is-5 mb10">
		Jimon Jitouってなに？
	</p>
	<p>
		ずらずら
	</p>
	<p class="subtitle is-5 mb10">
		Jimon Jitouでなにができるの？
	</p>
	<p>
		ずらずら
	</p>
	<p class="subtitle is-5 mb10">
		問題と解答を作成するにはどうすれば良い？
	</p>
	<p>
		<a href="/qs_reg" target="_blank" >こちら</a>から登録できます。<br/>
		また、CSV形式での一括登録は<a href="/qs_list" target="_blank" >こちら</a>からできます。
	</p>
	<p class="subtitle is-5 mb10">
		メールアドレスを変更したい場合はどうするの？
	</p>
	<p>
		こちらからメールアドレスの変更を行えます。
	</p>
	<p class="subtitle is-5 mb10">
		退会したい場合はどうするの？
	</p>
	<p>
		退会なさりたい場合は、<a href="/unsubscribe" target="_blank" >こちら</a>から退会のお手続きをしてください。
	</p>
	<p class="subtitle is-5 mb10">
		お問い合わせ先はどこ？
	</p>
	<p>
		ご質問ないしご要望含め、下記までお寄せください。
		<br/>
		taichi.kanaya@attakait.com
	</p>
</div>