<% content_for :title do %>よくある質問<% end %>
<div class="fs-sm mt20">
	<p class="title is-4 mb40">
		よくある質問
	</p>
	<p class="subtitle is-5 mb10">
		Mana Manaってなに？
	</p>
	<p>
		自問自答です。本を読んでも日が経つほど忘れてしまうことが多いので、<br>
		インプットをする手助けとなればと思い、個人的に開発した学習プラットフォームです。<br>
	</p>
	<br>
	<p class="subtitle is-5 mb10">
		Mana Manaでなにができるの？
	</p>
	<p>
		覚えたいことを「カテゴリ」ごとに「問題」「解答」でペアで登録しておき、<br>
		後から好きな時に見返す（=チャレンジする）ことでインプットを劇的に早めることができます。<br>
		通学、通勤時間や暇な時間にいつでも見返せるようにモバイル端末にも対応しております。<br>
		また、できる限り少ない通信量でご利用頂けるよう仕組みづくりしております。<br>
		<br>
		ご友人や仕事仲間など他のユーザとカテゴリをシェアすることもできます。<br>
		モチベーションの維持や雑談ネタのお供に是非！
	</p>
	<br>
	<p class="subtitle is-5 mb10">
		問題と解答を登録するにはどうすれば良い？
	</p>
	<p>
		<a href="/qs_reg" target="_blank" >こちら</a>から登録できます。<br/>
		また、CSV形式での一括登録は<a href="/qs_list" target="_blank" >こちら</a>の検索結果一覧上部にある「CSV取込」ボタンからできます。<br>
		一人あたり最大1,000問まで登録可能です。（需要が高まるようであれば増やす方向で検討します！）
	</p>
	<br>
	<p class="subtitle is-5 mb10">
		他の人にカテゴリをシェアするにはどうすれば良い？
	</p>
	<p>
		<a href="/ctg_mng" target="_blank" >こちら</a>のカテゴリ一覧から「シェア状況確認」ボタンを押してください。<br/>
		遷移先のページでシェアしたい方のメールアドレスと生年月日をご入力いただくことでシェアされます。
	</p>
	<br>
	<p class="subtitle is-5 mb10">
		推奨ブラウザは何ですか？
	</p>
	<p>
		Google Chromeの最新版を推奨いたします。<br>
	</p>
	<br>
	<p class="subtitle is-5 mb10">
		メールアドレスを変更したい場合はどうするの？
	</p>
	<p>
		<a href="/ml_chg" target="_blank" >こちら</a>からメールアドレスの変更を行えます。<br>
	</p>
	<br>
	<p class="subtitle is-5 mb10">
		退会したい場合はどうするの？
	</p>
	<p>
		退会なさりたい場合は、<a href="/unsubscribe" target="_blank" >こちら</a>から退会のお手続きをしてください。<br>
	</p>
	<br>
	<p class="subtitle is-5 mb10">
		問い合わせ先はどこですか？
	</p>
	<p>
		ご質問ないしご要望含め、下記までお寄せください。
		<br/>
		taichi.kanaya@attakait.com<br>
	</p>
</div>