// Place all the styles related to the qs_llist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/**
 *   検索条件部
 */
.searchCondition label{
  margin-top: 5px;
  display: inline-block !important;
}

/**
 *   ボタン部
 */
#search_button{
  text-align: center;
}
#csv_button{
  text-align: right;
}

/**
 *   検索結果
 */
.categoryName{
  width:20%;
}
.question{
  width:25%
}
.answer{
  width:25%
}
.regDate{
  width:20%
}
.updButton{
  width:auto;
  text-align:center;
}

/**
 *   ページャ
 */
.paginate{
  width: 50%;
  text-align: center !important;
}

/**
 *   ページャ中の中点を消す
 */
ul {
  list-style: none !important;
}

/**
 *   ファイルアップロードエリア
 */
#areaFile {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100px;
  color: #ffffff;
  font-family: Arial;
  border: 1px solid;
}
#inpFile {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#btnExeFile {
  margin: 0;
  color: #fff;
  width: 530px;
  height: 30px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  transition: all .2s ease;
  outline: none;
}
